/Car.class
/Convertible.class
/Coupe.class
/Crossover.class
/EV.class
/Hatchback.class
/Hybrid.class
/Luxury.class
/Microcar.class
/Minivan.class
/SUV.class
/Sedan.class
/SportsCar.class
/Truck.class
/Wagon.class
/*.class
